*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
#app{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    background-color: black;
    height: 70px;
}
.traffic-light-panel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 110px;
    padding: 1rem 0;
    row-gap: 1rem;
}
.light-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.light{
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 1px solid black;
    background-color: green;
}
.add-light-button{
    padding: 1rem 0;
    background-color: rgb(27, 97, 97);
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.red{
    background-color: #A52728;
}
.yellow{
    background-color: #CA651A;
}
.green{
    background-color: #149739;
}
.purple {
    background-color: purple;
}
.selected{
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8);
}

